* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: DejaVuSansM Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: #161616;
  border-bottom: 3px solid #565656;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

/*
window#waybar.hidden {
  opacity: 0.2;
}
*/

#workspaces button {
  min-width: 20px;
  background-color: #2d3436;
  padding: 0 5px;
  margin: 0 2px;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px #565656;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inset 0 -3px #ffc100;
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #d7301f;
  box-shadow: inset 0 -3px #d7301f;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-pacman,
#custom-media,
#custom-desligar,
#custom-rofi,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 5px;
  margin: 0 2px;
  color: #ffffff;
  background-color: #2d3436;
  box-shadow: inset 0 -3px #ffffff;
}
@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  color: #d7301f;
  box-shadow: inset 0 -3px #d7301f;
}

#custom-desligar,
#custom-rofi {
  color: #d7301f;
}

#battery {
}
#battery.charging,
#battery.good,
#battery.plugged {
}
#battery.warning:not(.charging) {
  color: #d7301f;
  box-shadow: inset 0 -3px #d7301f;
}
#battery.critical:not(.charging) {
  background-color: #d7301f;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
}
#network.disabeled {
  box-shadow: inset 0 -3px #d7301f;
}
#network.disconnected {
  color: #d7301f;
  box-shadow: inset 0 -3px #d7301f;
}

#pulseaudio {
}
#pulseaudio.muted {
  box-shadow: inset 0 -3px #d7301f;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}
#custom-media.custom-spotify {
  background-color: #66cc99;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
}
#temperature.critical {
  background-color: #d7301f;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
}
#idle_inhibitor.activated {
  box-shadow: inset 0 -3px #d7301f;
}

#mpd {
}
#mpd.disconnected {
  color: #d7301f;
  box-shadow: inset 0 -3px #d7301f;
}
#mpd.stopped {
  box-shadow: inset 0 -3px #ffffff;
}
#mpd.paused {
  box-shadow: inset 0 -3px #ffffff;
}
#mpd.playing {
  box-shadow: inset 0 -3px #ffc100;
}

/*
#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}
*/
